@font-face {
    font-family: Inter;
    src: url('../../public/inter-font/Inter-Regular.ttf');
}

body {
    font-family: "Inter";
}

h1 {
    font-size: 2.5em;
    line-height: 0em;
}

input {
    border: 0
}

.app-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.new-releases-title {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.account {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: right;
}

.side-panels {
    grid-column: 2;
    grid-row: 2;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}

.modal-content {
    margin: 6.25em auto;
    width: 50%;
    background: #fff;
}

.modal-close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1rem;
    background: #f44336;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    border: none;
}

.modal-close-button:hover,
.modal-close-button:focus {
    cursor: default;
    background: #961a12;
}