.search-panel {
    margin-bottom: 20px;
    background-color: #F5F5F5;
    padding: 10px;
}

.search-bar {
    height: 1em;
    background-color: white;
    width: 95%;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.search-bar>input {
    flex: 1;
    height: 1em;
    border: none;
    outline: none;
    margin-left: 5px;
}

.search-icon {
    color: #2568ef;
}